body, html {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
  font-variant: small-caps;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* =============================================== en tete header-box */
#header-box{
  width: 100%;
  height: 3.5rem;
  background-color: rgb(0, 140, 255);
  margin: 0 auto;

}

#box-nav{
  width: 100%;
  margin-top: 0;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  display: inline-block;
  overflow: hidden;
  position: fixed;
}

#main-nav{
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  display: inline-block;
}
  
#main-nav a{
  display: inline-block;
  width: 8%;
  background-color: rgb(0, 0, 0);
  color: rgb(40, 170, 0);
  text-decoration: none;
  text-align: center;
  padding: 1rem 1rem;
  border-bottom: 5px solid rgb(11, 48, 0);
}
  
#main-nav a:hover{
  color: rgb(0, 0, 0);
  text-shadow: 0 0 1px rgb(40, 170, 0),0 0 5px rgb(255, 255, 255), 0 0 10px rgb(0, 255, 0), 0 0 15px rgb(40, 170, 0), 0 0 20px rgb(40, 170, 0), 0 0 25px rgb(40, 170, 0), 0 0 30px rgb(40, 170, 0), 0 0 35px rgb(40, 170, 0);
  border-bottom: 5px solid rgb(40, 170, 0);
}

/* =============================================== milieu body-box */
.espace{
  background-image: url('assets/image/carbone.jpg');
  height: 10rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#body-box{
  width: 100%;
  background-color: rgba(255, 186, 38, 0.404);
  margin: 0 auto;
  text-align: center;
}

#titre{
  display: inline-block;
  height: 500px;
  width: 70%;
  border: 5px solid rgb(59, 31, 31);
  text-align: center
}
#aboutme{
  display: inline-block;
  height: 500px;
  width: 70%;
  border: 5px solid rgb(59, 31, 31);
  text-align: center
}
#skills{
  display: inline-block;
  height: 500px;
  width: 70%;
  border: 5px solid rgb(59, 31, 31);
  text-align: center
}
#formation{
  display: inline-block;
  height: 500px;
  width: 70%;
  border: 5px solid rgb(59, 31, 31);
  text-align: center
}
#experience{
  display: inline-block;
  height: 500px;
  width: 70%;
  border: 5px solid rgb(59, 31, 31);
  text-align: center
}

/* ============================================== bas foot-box */
#foot-box{
  width: 100%;
  background-color: rgba(107, 255, 114, 0.479);
  margin: 0 auto;
  text-align: center;
}
.contact{
  display: inline-block;
  height: 500px;
  width: 70%;
  border: 5px solid rgb(59, 31, 31);
  text-align: center
}